html {
	height: 100%;
}

body {
	background-color: #ffffff;
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
	color: #516373;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
	color: #516373;
}

button, input {
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
}
div#header {
	height: 1.5em;
	text-align: left;
}

#header_bottom {
	background: url("/xmetdb/skeleton/images/header-background.png") repeat-x scroll left top;
}
ul.topLinks {
	position: absolute;
	top: 0;
	right: 0;
	height: auto;
	margin: 0;
	padding: 0.5em 1em 0 0;
	text-align: right;
}

li.topLinks {
	display: inline;
}

a.topLinks {
	font-weight: normal !important;
}

#copyright {
	position: fixed;
	height: 30px;
	width: 50%;
	left: 25%;
	top: -20px;
	text-align: center;
	opacity: 0;
}

#copyright p {
	margin: 0px;
	font-size: 1.5em;
	text-align: center;
}

span.copyrightSpan {
	color: #516373 !important;
}

a.copyrightLink, a.copyrightLink:active, a.copyrightLink:visited {
	font-weight: bold !important;
}

a.copyrightLink:hover {
	font-weight: bold !important;
	cursor: pointer !important;
	text-decoration: overline !important;
}


ul#navmenu {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	list-style-type: none;
	height: 100%;
	text-align: center;
}

#navmenu li {
	margin: 0;
	display: block;
	border-bottom: 1px solid white;
	padding: 0;
}

#navmenu li #bottom {
	border-bottom: none;
}

#navmenu li a {
	display: block;
	text-decoration: none;
	line-height: 25px;
}

* html #navmenu li a {
	width: 100%;
}

* html #menu,* html #inner-wrap {
	height: 1px;
}

#navmenu li a:link, #navmenu li a:visited {
	font-size: 0.9em;
	font-weight: 500;
}

#navmenu li a:active {
}

#navmenu li a.selected {
	display: block;
	font-weight: 900;
}

#navmenu li a.hovered {
	display: block;
}

#navmenu li input, #navmenu li form, #navmenu li#createbutton {
	width: 100%;
	padding: 0;
	margin: 0;
	height: 30px;
}

a.enter_qmrf {
	color: white !important;
	background-color: #FFA600 !important;
	font-weight: bold !important;
	font-size: 1.0em !important;
}


table.w_table_stats {
	width: 100%;
	margin: 0;
	border-collapse: collapse;
}

tr.w_tr {
	height: 25px;
}

th.w_th {
	color: white;
	background-color: silver;
	padding: 0 5px;
}

td.w_td_param {
	padding-left: 5px;
	border-bottom: solid 1px silver;
}

td.w_td_value {
	padding-right: 5px;
	border-bottom: solid 1px silver;
	text-align: right;
	font-weight: bold;
}

a.download {
	font-weight: normal;
	text-decoration: none;
	background: url("/xmetdb/images/application_put.png") no-repeat scroll 0 0 transparent;
	padding: 0 0 0 20px;
}

a.email {
	font-weight: normal;
	text-decoration: none;
	background: url("/xmetdb/images/email_attach.png") no-repeat scroll 0 0 transparent;
	padding: 0 0 0 20px;
}

a.help {
	font-weight: normal;
	text-decoration: none;
	background: url("/xmetdb/images/book_open.png") no-repeat scroll 0 0 transparent;
	padding: 0 0 0 20px;
}

a.login {
	font-weight: normal;
	text-decoration: none;
	background: url("/xmetdb/images/key.png") no-repeat scroll 0 0 transparent;
	padding: 0 0 0 20px;
}

a.curator {
	font-weight: normal;
	text-decoration: none;
	background: url("/xmetdb/images/star.png") no-repeat scroll 0 0 transparent;
	padding: 0 0 0 20px;
}

a.admin {
	font-weight: normal;
	text-decoration: none;
	background: url("/xmetdb/images/wrench_orange.png") no-repeat scroll 0 0 transparent;
	padding: 0 0 0 20px;
}


A:link {
	COLOR: #516373;
	FONT-WEIGHT: bolder;
	font-weight: bold;
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
	text-decoration: none;
}

A:visited {
	COLOR: #516373;
	FONT-WEIGHT: bolder;
	font-weight: bold;
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
	text-decoration: none;
}

A:active {
	COLOR: #516373;
	FONT-WEIGHT: bolder;
	font-weight: bold;
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
	text-decoration: none;
}

A:hover {
	COLOR: #0065A2;
	FONT-WEIGHT: bolder;
	font-weight: bold;
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
	text-decoration: underline;
}


/* jQuery UI autocomplete */

.ui-menu-item a {
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif !important;
	font-size: 8pt !important;
}

.structresults .ui-selecting { background: #FECA40; border-color: #FECA40; }
.structresults .ui-selected { background: #F39814; border-color: #F39814; }
.structresults { list-style-type: none; margin: 0; padding: 0; width: 930px; }
.structresults li { margin: 3px; padding: 1px; float: left; width: 155px; height: 155px; font-size: 4em; text-align: center; }

.toolbar {
   padding: 4 4 4 4;
}


/*
 * DataTables framework
 */

div.dataTables_wrapper {
}


div.dataTables_length {
	float: left;
	margin:0;
	padding:0;
}

div.dataTables_length select {
	margin:0;
	padding:0;
	width: 5em;
}

div.dataTables_length label {
	margin:0;
	padding:0;
}


div.dataTables_filter {
	margin:0;
	padding:0;
	float: right;
}

div.dataTables_info {
	padding: 9px 6px 6px 6px;
	float: left;
}

div.dataTables_paginate {
	float: right;
}

div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate {
	padding: 6px;
}

.dataTables_wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
html[xmlns] .dataTables_wrapper {
	display: block;
}
 
* html .dataTables_wrapper {
	height: 1%;
}


/*
 * Table styles
 */
table {
	width: 100%;
	clear: both;
}

table td,
table th {
	padding: 2px;
}

/* Header cells */
table thead th {
	text-align: center;
}

/* Body cells */
table tbody th {
	text-align: left;
	vertical-align:top;
}
	
table tbody td {
	text-align: left;
	vertical-align:top;
}
		
table tbody tr.odd td { 
}


/*
 * Pagination
 */
a.paginate_button,
a.paginate_active {
	display: inline-block;
	padding: 2px 6px;
	margin-left: 2px;
	cursor: pointer;
	*cursor: hand;
}

a.paginate_active {
	background-color: transparent;
}

a.paginate_button_disabled {
}
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}

div.dataTables_paginate span>a {
	width: 15px;
	text-align: center;
}

/* Footer cells */	
table tfoot th {
	text-align: left;
}
	
table tfoot td {
	text-align: center;
	font-weight: bold;
}

/* Help */
.help {
	font-size: 0.75em;
	font-weight: bold italic !important;
	color: #516373;
}

.help  a {
	color: #516373;
}